:root{
    --background: rgb(216, 226, 243);
    --background-secondary: rgb(87, 87, 228);
    --text-color: rgb(255, 255, 255);
    --text-color-secondary: rgb(128, 128, 128);
    
}

*{
    margin: 0;
    box-sizing: border-box;
}

.main{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, max-content);
    grid-template-areas: 
    "header"
    "welcom"
    "galery"
    "options"
    "location"
    "service"
    "footer";
}
.main_header{
    grid-area: header;
    margin: 0 auto;
    min-height: 400px;
    background-image: url("assets/img/imagen3.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    
}   
.header_intro{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.header_intro .name{
    width: 90%;
    font-size: 40px;
    text-align: center;
    text-shadow: 2px 2px 2px #333;
}
.button{
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
    background-color: salmon;
    border: solid 2px var(--text-color);
    padding: 12px;
    width: 60%;
    font-weight: bold;
    letter-spacing: 1px;
    text-rendering: optimizeLegibility;
}
.main_welcom{
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
}

.h3{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 25px;
    color: rgb(87, 87, 228) ;
}
i{
    font-size: 30px;
}
hr{
    width: 50px;
    border-color: var(--background-secondary);
}
.hr-white{
    width: 50px;
    border-color: var(--text-color);
}
.welcom_p{
    width: 70%;
    color: var(--text-color-secondary);
    text-align: center;
}
.estate{
    background-color: var(--background-secondary);
    width: 70%;
    color: var(--text-color);
    padding: 20px 10px;
}
.estate > p{
    margin-top: 10px;
}
.main_galery img{
    display: block;
    grid-area: galery;
    margin: 0 auto;
    width: 100%;
    padding: 10px 10px;
    background-color: var(--background);
}
.options{
    grid-area: options;
    background-image: url(assets/img/imagen5.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.options_container{
    grid-area: options;
    background-color: var(--text-color);
    width: 90%;
    height: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-align: center;
}
.options_container img{
    grid-area: options;
    width: 80px;
    height: 80px;
    margin-top: 15px;
}
.span{
    font-size: 25px;
}
.location {
    grid-area: location;
    background-color:  var(--background-secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 16px;

}
.location_map{
    max-width: 350px;
    width: 100%;
    height: 350px;
}
.location_map iframe{
    width: 100%;
    height: 100%;
}
.location_information{
    margin-top: 16px;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service{
    grid-area: service;
    background-color:  var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 16px;
}
.title{
    color: var(--background-secondary);
}
.service_img{
    max-width: 350px;
    width: 100%;
    height: 400px;
}
.service_img img{
    width: 100%;
    height: 100%;
}
.service_information{
    width: 90%;
    color: var(--text-color-secondary);
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 1px;
}
.footer{
    height: 50px;
    grid-area: footer;
    background-color: var(--background-secondary);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer a{
    color: var(--text-color);
    text-decoration: none;
}
